<div class="modal-header">
  <h3>Item</h3>
</div>
<div class="modal-body">
  <%= form_for [@standup, @item], :remote => true do |f| %>
    <ul class="item-errors"></ul>
    <%= f.text_field :content, :id => "Item" %>
    <%= f.submit %>
  <% end %>
</div>
<div class="modal-footer">
  <%= link_to "Cancel", "#", class: "btn", data: { dismiss: "modal" } %>
</div>
