<% @standup.today_items.each do |today_item| %> 
  <div id="today_item_content">- 
    <%= today_item.item %> 
    <%= link_to 'Edit', edit_user_standup_today_item_path(current_user, @standup, today_item), remote: true %> 
    <%= link_to 'Delete', user_standup_today_item_delete_path(current_user, @standup, today_item), remote: true %>
  </div>
<% end %>
